<h1 class="d-flex display-4 justify-content-center">Hamburger Menu</h1>

<div class="row">
  <h2 class="col-xs-12 col-sm-6 d-flex display-5 justify-content-center">Available</h2>
  <h2 class="col-xs-12 col-sm-6 d-flex display-5 justify-content-center">Devoured</h2>
</div>

<div class="row">
  <ul class="col-xs-12 col-sm-6 burger-list">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>


  <ul class="col-xs-12 col-sm-6 burger-list">
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="burger-devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Available
  </div>

  <button type="submit">Add Burger</button>
</form>